.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.first-div {
    background-color: red;
}

.second-div {
    background-color: blue;
}

.third-div {
    background-color: green;
}